.form {
  display: flex;

  justify-content: center;

  padding: 20px;

  width: 700px;
}

.label {
  display: block;
  margin-right: 30px;
  margin-bottom: 20px;
}
.input {
  display: block;
  align-self: flex-end;
  border-radius: 5px;
  border: solid 1px #e4e9f0;
  background-color: #fff;
  padding: 0px 15px;

  margin-top: 8px;
  height: 38px;
  min-width: 200px;
}
.btn {
  align-self: center;
  width: 150px;
  height: 42px;
  background-color: rgb(87, 197, 197);
  border: solid 1px #e4e9f0;
  border-radius: 5px;
  color: #fff;
  padding: 0px 15px;
  text-transform: uppercase;
  cursor: pointer;
}
